[user]
	email = info@nicoglas.com
	name = Nico Glas
[alias]
	adog = log --all --decorate --oneline --graph
	yolo = commit --amend --no-edit -a
[safe]
	directory = d:/*
	directory = "d:/c#/craptester"
	directory = "D:/c#/craptester"
	directory = D:/thesis/Karser
	directory = D:/thesis/*
	directory = D:/thesis/latex
[init]
	defaultBranch = main
[credential "https://git.overleaf.com"]
	provider = generic
